.admin-sales-container {
    background-image: url('../assets/welcome/field.jpg');
    background-size: cover; /* Ensure the image covers the container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    width: 100%;
    height: 100vh; /* Full viewport height */
    margin: 0; /* Ensure no margin is applied */
    padding: 0; /* Ensure no padding is applied */
}

.floating-container {
    width: 1336px; 
    height: 550px; 
    top: 100px; 
    left: 50%;
    transform: translateX(-50%);
    position: absolute; 
    background: rgba(0, 0, 0, 0.80); 
    border-bottom-left-radius: 30px; 
    border-bottom-right-radius: 30px; 
    backdrop-filter: blur(5px);
}

.sales-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: auto; /* Add vertical scrollbar if content overflows */
    box-sizing: border-box; /* Include padding and border in the width */
    padding-top: 30px;
}

.sales-heading {
    color: white;
    font-size: 40px;
    letter-spacing: 1px;
}

.sort-report {
    margin-left: 600px;
    color: white;
    letter-spacing: 1px;
}

#sort-report-menu {
    background-color: #31370D;
    color: white;
    letter-spacing: 1px;
    border-style: none;
    width: 140px;
    height: 50px;
    padding-left: 10px;
}

.trans-sales-summary-table {
    width: 1250px;
    height: 375px;
    background: rgba(239, 237, 255, 0.30);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 35px;
    
}

.trans-sales-summary-table::-webkit-scrollbar {
    width: 12px;
    border-radius: 45px;
}

.trans-sales-summary-table::-webkit-scrollbar-track {
    background: rgba(217, 217, 217, 0.2);
    border-radius: 10px;
}

.trans-sales-summary-table::-webkit-scrollbar-thumb {
    background: rgba(217, 217, 217, 0.4);
    border-radius: 10px;
}

.trans-sales-summary-table::-webkit-scrollbar-thumb:hover {
    background: rgba(217, 217, 217, 0.6);
}

.trans-sales-summary-table {
    scrollbar-width: thin;
    scrollbar-color: rgba(217, 217, 217, 0.4) rgba(217, 217, 217, 0.2);
}

.trans-sales-summary-table {
    scrollbar-width: thin;
    scrollbar-color: rgba(217, 217, 217, 0.4) rgba(217, 217, 217, 0.2);
}

.trans-sales-summary {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.trans-sales {
    display: flex;
    height: 185px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 5px;
    color: white;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.trans-sales p {
    margin: 0;
    text-align: center;
}

.trans-sales-details-div {
    width: 40%;
}

.report-date, .report-total-income, .report-prod-summary {
    text-align: left !important;
}

.sales-summary-table {
    width: 1250px;
    height: 375px;
    background: rgba(239, 237, 255, 0.30);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    
}

.sales-summary-table::-webkit-scrollbar {
    width: 12px;
    border-radius: 45px;
}

.sales-summary-table::-webkit-scrollbar-track {
    background: rgba(217, 217, 217, 0.2);
    border-radius: 10px;
}

.sales-summary-table::-webkit-scrollbar-thumb {
    background: rgba(217, 217, 217, 0.4);
    border-radius: 10px;
}

.sales-summary-table::-webkit-scrollbar-thumb:hover {
    background: rgba(217, 217, 217, 0.6);
}

.sales-summary-table {
    scrollbar-width: thin;
    scrollbar-color: rgba(217, 217, 217, 0.4) rgba(217, 217, 217, 0.2);
}

.sales-summary-table {
    scrollbar-width: thin;
    scrollbar-color: rgba(217, 217, 217, 0.4) rgba(217, 217, 217, 0.2);
}

.sales-summary {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.product-sales {
    display: flex;
    height: 185px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 5px;
    color: white;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.product-sales p {
    margin: 0;
    text-align: center;
}

.sales-details-div {
    width: 40%;
}

.prod-id, .prod-name, .prod-sales-qty {
    text-align: left !important;
}

.prod-name {
    padding-bottom: 10px;
}

.total-sales {
    color: white;
    font-size: 25px;
    transform: translateX(470px);
    margin-top: 10px;
    margin-bottom: 30px;
}
